[run]
branch = true
cover_pylib = false
source = src/
omit =
    *__init__*
    */docs/*
    */benchmarks/*
    */scripts/*

[report]
show_missing = true
skip_covered = false
fail_under = 96
omit =
    *__init__*
    */benchmarks/*
    */docs/*
    */scripts/*

[html]
directory = htmlcov
title = OpenDoor Coverage Report