# .coveragerc to control coverage.py
[run]
branch = True
parallel = true
debug = data
data_file= Tests/coverage
concurrency = multiprocessing
source = opendoor.py
        /Exceptions/*
        /Libraries/*
        /Version/*

[paths]
source = opendoor.py
        /Exceptions/*
        /Libraries/*
        /Version/*

[report]
ignore_errors = True
show_missing = True
include =
        opendoor.py
        /Exceptions/*
        /Libraries/*
        /Version/*

[html]
directory = Tests/reports/html

[xml]
output = Tests/reports/xml/coverage.xml