# .coveragerc to control coverage.py
[run]
source = /Exceptions/*
         /Libraries/*
concurrency = multiprocessing
data_file= Tests/reports/.coverage
debug = data

[paths]
source = /Exceptions/*
         /Libraries/*

[report]
ignore_errors = True
show_missing = True
include =
        /Exceptions/*
        /Libraries/*

[html]
directory = Tests/reports/html

[xml]
output = Tests/reports/coverage.xml